# Local config
.env
.venv/
.vscode/

# Inputs & outputs (often large or sensitive)
input/
output/
assets/
notebooks/

# Temp & caches
*.tmp
*.log
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
build/
dist/


# Added by cargo

target/
experiments/
processed_data_lake/
backup/